#map {
height: calc(100% - 64px);
position:relative;
}
#loading-overlay{
    
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,0.5);
    z-index:1000;
}

md-list-item.md-primary, md-list-item.md-primary md-icon{
    color:rgb(76,175,80)
}
md-icon{
    margin:0px;
}
.no-margin{
    margin:0 0 0 0;
}
.no-margin{
    margin:0 0 0 0;
}

html{
    background-color:#f2f2f2;
}
body{
    background-color:#f2f2f2;
    font-family: Roboto, sans-serif;
    margin:0px;
    padding:0px;
}
.cloak{
    background-color:#f2f2f2;
}

.fab-input{
    position: fixed;
    top:64px;
    width:100%;
}
.fab-input-bottom{
    bottom:10px;
    top:initial;
}
.fab-input md-input-container{
    margin:0px;
}
.fab-input .md-errors-spacer{
    min-height:0px;
}
.fab-bottom-right{
    position:absolute;
    bottom:100px;
    right:10px;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.transition-slow{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
 .md-toggle-icon {
    speak: none;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.md-toggle-icon.toggled {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
md-card-content.md-primary{
    background-color:rgb(0,188,212);
    color:white;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 10px;
    margin: 10px;
}
#map.location-picker::after{
    content:"";
    position: absolute;
    width:100%;
    height:100%;
    background-image:url('../images/ic_pin_drop_black_24px.svg');
    background-repeat:no-repeat;
    background-position:center center;
    background-size:50px 50px;
    pointer-events:none;
}
img{
    width: 100%;
    height: 100px;
    object-fit: contain;
}