<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <meta data-server-head-tags-static name="theme-color" content="#00bcd4">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <title>Cartalogue</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnwRQ4j9fQItOOC-gA4je-KElXA-l-FLU"></script>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js"></script>

    <!--<script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>-->
    <script src="https://cdn.jsdelivr.net/satellizer/0.14.0/satellizer.min.js"></script>
    <script type="text/javascript" src="plugins/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="plugins/ng-file-upload/ng-file-upload.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>


</head>

<body ng-app="cartalogue" ng-cloak ng-controller="MasterController">
    
    <div id="loading-overlay" layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate" md-diameter="200px"></md-progress-circular>
    </div>
    
    <div layout="column" class="full-height" ng-cloak>
        <section layout="row" flex>
            <md-sidenav ng-cloak class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4" md-swipe-left="closeMenu()">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools" layout-row>
                            <span>Menu</span>
                            <span flex></span>
                            <md-button ng-click="closeMenu()">
                              <md-icon class="material-icons">keyboard_arrow_left</md-icon>
                            </md-button>
                        </h1>
                </md-toolbar>
                <md-divider></md-divider>
                <md-content ng-cloak>
                    <md-list>
                        <md-list-item ng-repeat="item in menu" ng-click="master.navigateTo(item.route)" ng-class="{'md-primary':item.active}">
                            <md-icon class="material-icons md-avatar-icon">[[item.icon]]</md-icon>

                            <div class="md-list-item-text md-offset">
                                <h3 class="no-margin"> [[item.name]] </h3>
                            </div>
                        </md-list-item>
                        
                        <span flex></span>
                        <md-button ng-click="master.toggle_account_mode()" ng-if="master.logged_in()">Switch to 
                            <span ng-if="master.account_mode=='customer'">Seller</span> 
                            <span ng-if="master.account_mode=='seller'">Customer</span> 
                        </md-button>
                    </md-list>
                </md-content>
            </md-sidenav>
            <md-content flex  ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <md-button ng-click="toggleMenu()">
                            <md-icon class="material-icons">menu</md-icon>
                        </md-button>
                        <h2>
                              <span>Cartalogue</span>
                            </h2>
                    </div>
                </md-toolbar>
                <ng-view ng-cloak layout="column" layout-wrap></ng-view>
                <div class="fab-input" ng-class="master.searchItemClass" layout="row">
                    <md-card flex="100" layout-padding>
                        <!--<md-input-container md-no-float class="md-block">-->
                        <!--    <input placeholder="Search item" ng-focus="master.onSearchItemFocus()" ng-model="master.itemQuery">-->
                        <!--</md-input-container>-->
                        <md-autocomplete 
                        md-selected-item="master.selectedItem" 
                        md-search-text="master.searchText" 
                        md-items="item in master.itemQuerySearch(master.searchText)" 
                        md-selected-item-change="master.selectedItemChange(item)" 
                        md-item-text="item.name" 
                        md-min-length="0"
                        placeholder="Search for items">
                            <md-item-template ng-focus="master.onSearchItemFocus()">
                                <span md-highlight-text="master.searchText" md-highlight-flags="^i">[[item.name]]</span>
                            </md-item-template>
                            <md-not-found>
                                "[[master.searchText]]" were found. Please make a request.
                                
                            </md-not-found>
                        </md-autocomplete>
                    </md-card>
                </div>
            </md-content>
        </section>
    </div>

    <!-- Application bootstrap  -->


    <script src="js/app.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/resources.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/routes.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controllers.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/services.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/main.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="cordova.js"></script>

</body>

</html>
