  <md-content layout-padding flex="50" flex-xs="80" flex-sm="70" class="md-whiteframe-1dp">
      <form name="userForm" ng-submit="login()" layout="row" layout-wrap layout-align="center start">
        <md-input-container class="md-block" flex="100">
          <label>Email</label>
          <input ng-model="user.email" type="email">
        </md-input-container>
        <md-input-container class="md-block" flex="100">
          <label>Password</label>
          <input ng-model="user.password" type="password">
        </md-input-container>
        <md-button class="md-raised md-primary" type="submit" flex>Login</md-button>
        <p flex="100">Don't have an account? <a href="#/register">Register Now</a></p>
      </form>
  </md-content>
